body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  border-radius: 5rem !important;
}

.btn-primary {
  background-color: #e07f00 !important;
  border: #e07f00 !important;
  color: white;

  &:hover{
    background-color: #d36e00 !important;
    border: #d36e00 !important;
  }
  &:active{
    background-color: #c56d00 !important;
    border: #c56d00 !important;
  }
}