.user-text{
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(221, 118, 0) !important;
    font-size: 13px;
}

.sm-button{
    max-height: 40px;
}

.clickable {
    cursor: pointer;
}